body {
       font-family: TimesNewRoman,
       "Times New Roman",
       Times,
       Baskerville,
       Georgia,
       serif;
    font-weight: 300;
      color: #ff0000;
      width: 97%;
      padding-left: 3%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/*-- Whole Site Formatting ---*/


.navbar-dark {
    color: #ff0000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100px;
  max-height: 100px;
}

.members-image {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
}

.news-image {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 200px;
  height: 200px;
  padding-bottom: 2%;
}



.centerImage {
    text-align: center;
    display: block;
}


button {
    align-items: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #ff0000;

}

h2 {
    text-transform: capitalize;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
}

h3 {
    text-transform: capitalize;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #ff0000;

}

h6 {
    text-transform: capitalize;
    padding-left: 3%;
    padding-top: 1%;
    color: black;
}

#title {
    padding-top: 2%;
}

/* Go to top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff0000;
    ;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #1d04fd;
    ;
}



/* Thick red border */
hr.red {
    border: 1px solid #ff0000;
    width: 80%;
    
}

hr.title {
    border: 1px solid #ff0000;
    width: 40%;
}


/*-- Container ---*/



.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}